@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 100% 80%; /* Xanh nước biển nhạt */
    --foreground: 200 100% 10%; /* Màu tối hơn để tương phản với nền */
    --card: 200 100% 95%; /* Xanh nước biển nhạt cho thẻ */
    --card-foreground: 200 100% 10%; /* Màu chữ trên thẻ */
    --popover: 200 100% 95%; /* Xanh nước biển nhạt cho popover */
    --popover-foreground: 200 100% 10%; /* Màu chữ trên popover */
    --primary: 200 100% 95%; /* Xanh nước biển nhạt cho các phần chính */
    --primary-foreground: 200 100% 10%; /* Màu chữ trên các phần chính */
    --secondary: 200 100% 95%; /* Xanh nước biển nhạt cho các phần phụ */
    --secondary-foreground: 200 100% 10%; /* Màu chữ trên các phần phụ */
    --muted: 200 100% 95%; /* Xanh nước biển nhạt cho các phần bị làm mờ */
    --muted-foreground: 200 100% 50%; /* Màu chữ cho các phần bị làm mờ */
    --accent: 200 100% 95%; /* Xanh nước biển nhạt cho các phần nổi bật */
    --accent-foreground: 200 100% 10%; /* Màu chữ trên các phần nổi bật */
    --destructive: 0 84.2% 60.2%; /* Màu đỏ cho các phần hủy bỏ */
    --destructive-foreground: 0 0% 98%; /* Màu chữ trên các phần hủy bỏ */
    --border: 200 100% 85%; /* Xanh nước biển nhạt cho viền */
    --input: 200 100% 85%; /* Xanh nước biển nhạt cho input */
    --ring: 200 100% 95%; /* Xanh nước biển nhạt cho ring */
    --radius: 0.75rem; /* Đường kính bo tròn */
  }
  


  .dark {
    --background: 240 10% 8%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-y: scroll;
    scrollbar-width: none; /* Đối với Firefox */
  }

  body::-webkit-scrollbar {
    display: none; /* Đối với Chrome, Safari và Opera */
  }

  .dark #button {
    @apply bg-red-500 text-white;
  }
  :root #button {
    @apply bg-blue-500 text-white;
  }
  :root p {
    @apply text-black;
  }

  .dark p {
    @apply text-white;
  }
  .dark input {
    @apply bg-white text-black;
  }
  .dark h1 {
    @apply text-black;
  } 
  :root h1 {
    @apply text-white;
  }
  :root .register {
    @apply text-black;
  }
  .dark .register {
    @apply text-black;
  }
  .dark .product-details p {
    @apply text-black;
  }
}